<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form>
        <div>
          <md-input-container class="maxWidth">
            <input class="md-block" mdInput placeholder="Email" value="" required="">
          </md-input-container>
        </div>
      
        <div>
          <md-input-container class="maxWidth">
            <input mdInput placeholder="Password" value="" type="password" required="">
          </md-input-container>
        </div>
        <div>
          <md-checkbox>Remeber Me</md-checkbox>
        </div>
        <div class="topMargin">
          <button md-raised-button class="btn-block" color="primary">Sign In</button>
        </div>
        <div class="topMargin">
          <a href="#" class="forgot-password">
            Forgot the password?
          </a>
        </div>
        <div class="topMargin">
          <a href="#" class="forgot-password">
            Register
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
