<div class="container">
  <div class="row"><br /></div>
  <md-card class="example-card">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <b>PRODUCT</b>
          </div>
          <div class="col-md-2">
            <b>PRICE</b>
          </div>
          <div class="col-md-3"><b>QUANTITY</b></div>
          <div class="col-md-3"><b>TOTAL</b></div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-4">
            Cellucor C4 Ice Blue Razz 30 serving
          </div>
          <div class="col-md-2">
            $29.99
          </div>
          <div class="col-md-3">1</div>
          <div class="col-md-3">$29.99</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br /><hr />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button md-raised-button color="default">PROCEED TO CHECKOUT</button>
            <button md-raised-button color="default">UPDATE CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h4>CART TOTALS</h4>
        <hr />
        <div class="row">
          <p class="alignleft">Subtotal</p>
          <p class="alignright">$29.99</p>
        </div>
        <hr />
        <div class="row">
          <p class="alignleft">Total</p>
          <p class="alignright">$29.99</p>
        </div>

        <button md-raised-button class="btn-block" color="primary">PROCEED TO CHECKOUT</button>
      </div>
    </div>
  </md-card>
  <div class="row">
    <br/>
  </div>
</div>