<div class="container" *ngIf="cart != null && cart.cart.length">
  <md-card>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-5">
            <b>PRODUCT</b>
          </div>
          <div class="col-md-2">
            <b>PRICE</b>
          </div>
          <div class="col-md-3"><b>QUANTITY</b></div>
          <div class="col-md-2"><b>TOTAL</b></div>
        </div>
        <hr />

        <div *ngFor="let product of cart.cart">
          <div class="row rowMinHeight">
            <div class="col-md-5">
              {{ product.name }}
            </div>
            <div class="col-md-2">
              {{ product.price }}
            </div>
            <div class="col-md-3">
              <button md-mini-fab (click)="removeItem(product)"><md-icon>-</md-icon></button>
              {{ product.quantity }}
              <button md-mini-fab (click)="addItem(product)"><md-icon>+</md-icon></button>
            </div>
            <div class="col-md-2">{{ product.totalPrice }}</div>
          </div>

          <hr />
        </div>

        <div class="row">
          <div class="col-md-12">
            <button md-raised-button color="default" [routerLink]="['/']">CONTINUE SHOPPING</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 leftBorder">
        <b>CART TOTALS</b>
        <hr />
        <div class="row">
          <p class="alignleft">Subtotal</p>
          <p class="alignright">{{ cart.subTotal }}</p>
        </div>
        <hr />
        <div class="row">
          <p class="alignleft">Tax</p>
          <p class="alignright">{{ cart.tax }}</p>
        </div>
        <hr />
        <div class="row">
          <p class="alignleft">Total</p>
          <p class="alignright">{{ cart.total }}</p>
        </div>
        <button md-raised-button class="btn-block" color="primary" [routerLink]="['/checkout']">PROCEED TO CHECKOUT</button>
      </div>
    </div>
  </md-card>
</div>
<div class="container" *ngIf="cart == null || cart.cart.length < 1">
  <md-card>
    <div class="row">
      Your cart is empty.
    </div>
    <div class="row">
      <br />
      <button md-raised-button color="default" [routerLink]="['/']">CONTINUE SHOPPING</button>
    </div>
  </md-card>
</div>