<div class="container" *ngIf="cart != null">
  <div class="row"><br /></div>
  <md-card class="example-card">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-5">
            <b>PRODUCT</b>
          </div>
          <div class="col-md-2">
            <b>PRICE</b>
          </div>
          <div class="col-md-3"><b>QUANTITY</b></div>
          <div class="col-md-2"><b>TOTAL</b></div>
        </div>
        <hr />

        <div *ngFor="let product of cart.Cart">
          <div class="row rowMinHeight" >
            <div class="col-md-5">
              {{ product.Name }}
            </div>
            <div class="col-md-2">
              {{ product.Price }}
            </div>
            <div class="col-md-3">
              <button  color="default" class="qtyButton" >-</button>
              {{ product.Quantity }}
              <button color="default" class="qtyButton" >+</button>
            </div>
            <div class="col-md-2">{{ product.TotalPrice }}</div>
          </div>
        
          <hr />
        </div>

        <div class="row">
          <div class="col-md-12">
            <button md-raised-button color="default">CONTINUE SHOPPING</button>
            <button md-raised-button color="default">UPDATE CART</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 leftBorder">
        <b>CART TOTALS</b>
        <hr />
        <div class="row">
          <p class="alignleft">Subtotal</p>
          <p class="alignright">{{ cart.SubTotal }}</p>
        </div>
        <hr />
        <div class="row">
          <p class="alignleft">Tax</p>
          <p class="alignright">{{ cart.Tax }}</p>
        </div>
        <hr />
        <div class="row">
          <p class="alignleft">Total</p>
          <p class="alignright">{{ cart.Total }}</p>
        </div>
        <button md-raised-button class="btn-block" color="primary">PROCEED TO CHECKOUT</button>
      </div>
    </div>
  </md-card>
  <div class="row">
    <br/>
  </div>
</div>
