<div class="container">
  <md-card>
    <md-card-content>
      <div class="row">
        <div class="col-md-6">
          <md-input-container class="maxWidth">
            <input class="md-block" mdInput placeholder="Email" type="email"
                   minlength="5" maxlength="50"
                   required email>
          </md-input-container>

          <div>
            <md-input-container class="maxWidth">
              <input class="md-block" mdInput placeholder="Name" maxlength="25"
                     required>
            </md-input-container>
          </div>

          <div>
            <md-input-container class="maxWidth">
              <textarea mdInput placeholder="Message"></textarea>
            </md-input-container>
          </div>

          <div>
            <button md-raised-button color="primary">Submit</button>
            <button md-raised-button>Clear</button>
          </div>
        </div>

        <div class="col-md-6">
          <b>Planet Supplements Inc. “Fuel Your Health”</b>
          <br />
          8538 University City Boulevard
          <br />
          Charlotte, NC, 28262
          <br />
          Phone: (704) 548-0108
          <br />
          <br />

          <b> Store Hours:</b>
          <br />
          Monday – Thursday 9am – 8:30pm
          <br />
          Friday 9am – 8pm
          <br />
          Saturday 10am – 8pm
          <br />
          Sunday 11:30am – 6pm
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>