<div class="container">
  <div class="row"><br /></div>
  <div class="row">
    <div class="col-md-3">
      <md-card class="example-card">
        <img md-card-image src="../../assets/product/1.jpg">
        <md-card-content>
          <div class="text-center">
            <p class="text-primary">
              {{ product.name }}
            </p>

            <h4>{{ product.price }}</h4>
          </div>
        </md-card-content>
        <div class="text-center">
          <button md-raised-button color="primary" (click)="addToCart()">ADD TO CART</button>
        </div>
      </md-card>
    </div>
  </div>
  <div class="row"><br /></div>
</div>