<div class="navbar navbar-default navbar-fixed-top" style="background-color: white">
  <div class="navbar-header" style="background-color: white">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png" />
    </a>
  </div>
  <div class="collapse navbar-collapse" style="background-color: white">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hyperLink" data-toggle="dropdown">Vitamins <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hyperLink" data-toggle="dropdown">Sports Nutrition <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hyperLink" data-toggle="dropdown">Muscle Builders <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hyperLink" data-toggle="dropdown">Protien <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hyperLink" data-toggle="dropdown">Weight Gain <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hyperLink" data-toggle="dropdown">Diet Energy <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hyperLink" data-toggle="dropdown">Intestinal Health & Oils <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hyperLink" data-toggle="dropdown">Herbals & Teas <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>

      <md-input-container>
        <input mdInput placeholder="Search..." />
      </md-input-container>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="hyperLink" [routerLink]="['./login']">Login</a></li>
      <li><a class="hyperLink" [routerLink]="['./register']">Register</a></li>
      <li><a> <span class="glyphicon glyphicon-shopping-cart" style="font-size: 1.5em; margin-right: 25px;"></span></a> </li>
    </ul>
  </div>
</div>

<div class="center-container">
  <router-outlet></router-outlet>
</div>

<div id="footer">
  <hr class="hyperLink" />
  <div style="margin: 15px;">
    <a class="hyperLink" [routerLink]="['./home']">Home</a>
    <a class="hyperLink" [routerLink]="['./login']">Login</a>
    <a class="hyperLink" href="#about">Vitamins</a>
    <a class="hyperLink" href="#about">Contact Us</a>
    <a class="hyperLink" href="#about">Terms of Use</a>
    <a class="hyperLink" href="#about">Privacy Policy</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Powered by PinnacleWare | All Rights Reserved 2016 - Planet Supplements Inc.
  </div>
  <div>
  </div>
</div>