<div class="container">
  <div class="formContainer">
    <div *ngIf="invalid" class="alert alert-danger box-msg" role="alert">
      <strong>Please correct below errors.</strong>
      <div *ngFor="let error of errors">
        {{ error }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input class="md-block" mdInput placeholder="Email" minlength="5" maxlength="50" [(ngModel)]="register.email" required >
        </md-input-container>
      </div>

      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input class="md-block" mdInput placeholder="Password" type="password" minlength="5" maxlength="15" [(ngModel)]="register.password" required >
        </md-input-container>
      </div>

      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input mdInput placeholder="Confirm Password" type="password" minlength="5" maxlength="15" [(ngModel)]="register.confirmPassword" required >
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input class="md-block" mdInput placeholder="First Name" maxlength="25" [(ngModel)]="register.firstName" required >
        </md-input-container>
      </div>

      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input mdInput placeholder="Last Name" [(ngModel)]="register.lastName" maxlength="25" required >
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input mdInput placeholder="Phone Number" [ngModel]="register.phoneNumber | phone" (ngModelChange)="register.phoneNumber=$event" maxlength="13">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input class="md-block" mdInput placeholder="Address 1" maxlength="35" [(ngModel)]="register.address1">
        </md-input-container>
      </div>

      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input class="md-block" mdInput placeholder="Address 2" maxlength="35" [(ngModel)]="register.address2">
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input class="md-block" mdInput placeholder="City" maxlength="25" [(ngModel)]="register.city">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <!--<md-select placeholder="State" class="maxWidth" style="margin-top: 5px;" [(ngModel)]="register.state">
          <md-option *ngFor="let state of register.states" [value]="state.value">
           {{ state.viewValue }}
          </md-option>
        </md-select>-->
      </div>

      <div class="col-md-4">
        <md-input-container class="maxWidth">
          <input class="md-block" mdInput placeholder="Zip Code" maxlength="5" [(ngModel)]="register.zipCode">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <button md-raised-button color="primary" (click)="registerUser()">Register</button>
        <button md-raised-button (click)="clearForm()">Clear</button>
      </div>
    </div>
  </div>
</div>